/* 21.css */

#fullpage {

}

/* Page Header */

header#page-header {
		
}

button#game-info-btn {

}

#game-title {

}

#game-title img#title-cards-img {
	width: 122px;
	height: 122px;
}

button#play-btn {
	
}

button#game-info-btn {

}

/* Page Main */

main#page-main {

}

section#dealer-section {
	width: 100%;
	height: 50vh;
	border: 1px solid #28A745;

}

section#player-section {
	width: 100%;
	height: 50vh;
	border: 1px solid #28A745;
}

#player-ctrls-container {
	margin-top: 0;
	background-color: #5a5a5a;
}

button#hit-btn {

}

button#sit-button {

}

/* Page Footer */

footer#page-footer {

}

#footer-above {

}

#footer-below {

}